body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-image: url(..//img/bg.jpg);
  background-color: grey;
  background-position: 50% 47%;
  filter: grayscale(100%);
}

.header .intro {
  margin-top: 170px;
  text-align: center;
  color: white;
}

.intro h1 {
  font-size: 36px;
}

.about {
  width: 1024px;
  min-height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.info {
  display: block;
  float: left;
  border-width: 5px;
  border-style: double;
  width: 25%;
  line-height: 25px;
}

.avatar {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: url(..//img/avatar.jpg);
  background-position: 57% 67%;
}

.contact {
  display: block;
  margin: 10px auto;
  margin-left: 30px;
  margin-right: 15px;
}

.summary {
  margin-left: 35px;
  display: inline;
  border-width: 5px;
  border-style: double;
  line-height: 25px;
}

.skills {
  width: 1024px;
  min-height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.additSkills {
  border-width: 5px;
  border-style: double;
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  border: 3px dotted;
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 10px 10px;
}

.circle p {
  margin-top: 45px;
}

.justSkills {
  border-width: 5px;
  border-style: double;
  margin-left: 50px;
  width: 300px;
  line-height: 35px;
}

.justSkills h2 {
  font-size: 32px;
}

.toolbar {
  text-align: left;
  margin-left: 15px;
}

.toolbar .line {
  border-bottom: 1px solid;
  width: 90%;
}

.toolbar .line.Html {
  border-bottom: 3px solid;
  width: 70%;
}

.toolbar .line.CSS {
  border-bottom: 3px solid;
  width: 70%;
}

.toolbar .line.JS {
  border-bottom: 3px solid;
  width: 50%;
}

.toolbar .line.C {
  border-bottom: 3px solid;
  width: 50%;
}

.toolbar .line.Assik {
  border-bottom: 3px solid;
  width: 40%;
}

.edu {
  width: 1024px;
  min-height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.cart {
  width: 200px;
  margin: 15px 25px;
  border: 3px solid;
  text-align: center;
}

.exp {
  width: 1024px;
  width: 1024px;
  min-height: 300px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.oww {
  width: 100%;
  margin: auto;
  filter: grayscale(100%);
}
